@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
}

.content {
  margin: 0 auto;
  width: 100%;
  max-width: 43rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.white {
  background-color: #f9f4fb;
}

.purple {
  background-image: linear-gradient(96.21deg, #343193 0%, #302c63 99.68%);
}

.content.white h1 {
  color: #b52184;
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 4rem;
  margin-top: 1.7rem;
  margin-bottom: 0.5rem;
}

.content.white p {
  color: #312d64;
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: 3.5rem;
}

.content.white .content-arrow {
  position: relative;
  margin-bottom: 9rem;
  text-align: center;
}

.arrowDown {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: scrolling-arrow 3s linear infinite;
}

.content.purple .content-card {
  margin: 0 4rem;
  background-color: #fff;
  padding: 2.5rem;
  box-shadow: 0px 0.33rem 1.32rem rgba(0, 0, 0, 0.25);
  border-radius: 2rem;
}

.content.purple > .content-card {
  margin-top: 5rem;
}

.content.purple > .content-card:last-child {
  margin-bottom: 5rem;
}

.content.purple .content-card .content-card-info {
  padding-right: calc(6rem - 2.5rem);
}

.content.purple .content-card h2 {
  margin-top: 3rem;
  font-size: 3rem;
  font-weight: 900;
  line-height: 3.7rem;
  color: #b52184;
}

.content.purple .content-card p {
  margin-top: 1.9rem;
  font-size: 1.6rem;
  color: #312d64;
  line-height: 2rem;
}

#img-stars {
  display: none;
}

.content.white .content-form {
  padding: 8rem 4rem 6rem;
}

.content.white .content-form h2 {
  font-size: 3.2rem;
  font-weight: 900;
  line-height: 4rem;
  color: #b52184;
  margin-bottom: 4rem;
}

.content.white .content-form button {
  font-size: 1.4rem;
  color: #fff;
  padding: 16px;
  background: linear-gradient(96.21deg, #343193 0%, #302c63 99.68%);
  border-radius: 16px;
  border: none;
  cursor: pointer;
}

.content.white .content-form button:hover {
  cursor: pointer;
}

.content-form .wrapper-content {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.content-form .wrapper {
  position: relative;
}

.content-form .wrapper svg {
  position: absolute;
  top: 1.1rem;
  left: 1.2rem;
}

.content-form .wrapper input {
  font-size: 1.6rem;
  padding: 12px 16px 12px 14px;
  width: 100%;
  padding-left: 5rem;
  border: 1.5px solid #312d64;
  border-radius: 1.6rem;
}

.content-form .wrapper input::placeholder {
  font-size: inherit;
  color: #312d64;
}

.content-form .wrapper textarea {
  width: 100%;
  padding: 12px 16px 16px;
  margin-bottom: 2.4rem;
  border: 1.5px solid #312d64;
  border-radius: 16px;
  height: 126px;
}

footer {
  padding: 1.6rem;
}

footer p {
  font-size: 1.9rem;
  color: #fff;
  line-height: 2.4rem;
}

@media (min-width: 780px) {
  .content {
    width: 100%;
  }

  .content.white,
  .content.purple {
    max-width: 144rem;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .content.white:first-child {
    padding-bottom: 10rem;
    padding-left: 5rem;
  }

  .content.white .content-img {
    margin-right: 3rem;
  }

  .content.white .content-arrow {
    margin-bottom: 0;
    position: absolute;
  }

  .content.purple > .content-card {
    margin-bottom: 5rem;
  }

  #img-stars {
    width: 50%;
    height: 100%;
    display: flex;
  }

  .content-form {
    display: block;
    width: 50%;
  }
  #footer {
    justify-content: center;
  }
}

@media (min-width: 1046px) {
  .content.white h1 {
    font-size: 5.8rem;
    line-height: 7.3rem;
  }
  .content.white p {
    font-size: 3.2rem;
    line-height: 4rem;
  }
}

@keyframes scrolling-arrow {
  0% {
    opacity: 0;
    transform: translate(-17px, -50px);
  }

  100% {
    opacity: 1;
    transform: translate(-17px, 0px);
  }
}

.content-card img:hover {
  animation: animated_rotate 8.2s linear infinite;
}

@keyframes animated_rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
